.kitsMain-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.kit-container {
    margin-top: 4rem;
    height: 18rem;
    width: 25%;
    text-align: center;
    padding: 3rem 1rem;
    border: 1px solid var(--outline);
    background-color:var(--offWhite);
    border-radius: 20px;
    box-shadow: 1px 2px 5px #999999;
}

.kit-image{
    margin-top: 1rem;
    width: 10rem;
    height: 9rem;
    align-self: center;
    border: 1px solid var(--outline);
    border-radius: 15px;
    object-fit: cover;
}

.kit-title:hover{
    transform: scale(1.1);
    transition: transform 0.3s;
}