/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Quicksand&family=Roboto:wght@100&display=swap");

/* FONTS
font-family: "Nunito", sans-serif;
font-family: "Quicksand", sans-serif;
font-family: "Roboto", sans-serif; 
*/

/* COLOR PALETTE */
/* Feel free to change these values and create your own color palette! https://coolors.co/ is a great resource */
:root {
  --primary: #d1d1d1;
  --secondary: #e9e9e9;
  --info: black;
  --warning: #efb814;
  --white: #ffffff;
  --offWhite: #fafafa;
  --dark: #8a8a8a;
  --outline: #b0b1b0;

  --appBackground: #f2f2f3;

}

/* GLOBAL STYLES */
body,
button,
input,
select,
textarea {
  font-family: "Nunito", sans-serif;
}

body {

  background-color: var(--appBackground);
  background-image: url("images/backgroundTransformed.jpeg");
  background-size: auto;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", serif;
}

/* This prevents all the links in the app from having default underline */
a {
  text-decoration: none;
  color: inherit;
}

/* This prevents all the links in the app from turning purple after visiting */
a:visited {
  color: inherit;
}

/* This prevents all the inputs in the app from having that blue outline when in focus */
input:focus {
  outline: none;
}

/* GLOBAL STYLING FOR ALL THE BUTTONS BUTTONS */
button {
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  color: var(--white);
  cursor: pointer;
  box-shadow: 1px 2px 5px #999999;
  border: 1px solid var(--info);
}

/* These are all the color options for the buttons */
/* If you change the color variables, be sure to change the hover colors to be a darker shade of the colors you chose*/
.btn-primary {
  background-color: black;
  transition: transform 0.3s;
  
}

.btn-primary:hover {
  background-color: #8937aa;
  transform: scale(1.05);
  
}

.btn-secondary {
  background-color: black;
}

.btn-secondary:hover {
  background-color: #8937aa;
}

.btn-warning {
  background-color: black;
}

.btn-warning:hover {
  background-color: #8937aa;
}

.btn-info {
  background-color: black;
}

.btn-info:hover {
  background-color: #8937aa;
}

.logo {
  margin: 4rem auto;
  margin-bottom: 1.5rem;
  color:black;
  width: 25rem;
  text-align: center;
  padding: 1rem;
  border: 1px solid var(--outline);
  background-color:var(--offWhite);
  border-radius: 20px;
  box-shadow: 1px 2px 5px #b0b1b0;
}

a:hover {
 color: #be6bdf;
 transform: scale(1.1);
}